[Unit]
Description=DigitalMatis Trading Bot BTC/USDT
After=network.target

[Service]
Type=simple
User=bitnami
WorkingDirectory=/opt/bitnami/apache/htdocs/trading-bot
ExecStart=/home/bitnami/trading-bot-venv/bin/python main.py
Restart=always
RestartSec=10
EnvironmentFile=/home/bitnami/.trading-bot.env

[Install]
WantedBy=multi-user.target
